<div class="transfer-panel border rounded">
  <div class="head pl-3">
    <p>
      <span *ngIf="checkedList.length > 0">{{checkedList.length}}/</span>{{inputList.length}}
    </p>
  </div>
  <div class="search-box p-2" *ngIf="showInputFlag">
    <input type="text" class="form-control" placeholder="请输入关键字" (input)="search($event)">
  </div>
  <ul class="list mb-0 overflow-auto">
    <li *ngFor="let item of showList" class="list-item text-truncate list-group-item-action" (click)="clickLi(item)" [class.active]="isChecked(item)">
      {{ item.value }}
    </li>
  </ul>
</div>
