<img [src]="madaoPic" [alt]="user">
<hr>
<img bind-src="madaoPic" bind-alt="user">
<hr>
<table class="table-bordered">
  <tr>
    <th>name</th>
    <th>phone</th>
    <th>age</th>
  </tr>
  <tr>
    <td>张三</td>
    <td>13398490594</td>
    <td>33</td>
  </tr>
  <tr>
    <td [colSpan]="colspan">李四</td>
    <td>15079049984</td>
    <td>22</td>
  </tr>
</table>
<hr>
<button class="btn btn-primary" [disabled]="isDisabled">click</button>
<hr>
<p [attr.data-title]="customTitle">一段文字</p>
<p [title]="customTitle1">一段文字</p>
<p [attr.title]="customTitle3">又是一段文字3</p>

<img src="{{ user2.pic }}" alt="{{ user2.name }}" />
<hr>
<img [src]="madaoPic" [alt]="'user'">
<hr>
<img src="madaoPic" [alt]="'user'+user2.pic">
