<div class="alert alert-secondary" role="alert">
  A simple primary alert—check it out!
</div>
<div class="alert alert-secondary" role="alert">
  A simple secondary alert—check it out!
</div>
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<h1 class="title">{{ title }}</h1>
<p>name:{{ heroName }}</p>


大家好，才是真的好!!!!
<hr>
<p>getVal:{{ getVal() }}</p>
<hr>
<p>job:{{ job }}</p>
<hr>
<p>The sum of 1+1 is {{ 1+1 }}.</p>
<p>price的7折{{ price * 0.7 }}</p>
<p>与方法结合: {{ price * 0.7 + getVal()}}</p>
<p>{{ gender == 0 ? '男' : '女' }}</p>
